.agent_list {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 0.7fr 1fr 1fr;
    align-items: center;
}
.agent_info {
  margin: 5px 10px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  align-items: center;
}
ul {
  list-style: none;
}

.menu {
  position: absolute;
  top: 80px;
}