.navigation-container {
	border: 2px solid rgb(0, 0, 0, 0.3);
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 10px 0px;
	padding: 0px;
	height: 30px;
	width: 300px;
	border-radius: 5px;
	background-color: #fffafa;
	text-decoration: none;
}

.navigation-item {
	margin: 0px 10px;
}

.item {
	text-decoration: none;

	font-size: large;
	color: black;
}
